  <div class="cards-containerj">
    <div class="cardj">
      <h2>{{title}}</h2>
      <p>{{location}}</p>
      <p class="d">Job Description
        <a href="#" class="apply-button">Apply</a>
      </p>
    </div>