
    <div class="cardj">
      <a href="/job/{{id}}">
        <h2>{{title}}</h2>
        <p>{{location}}</p>
        <p class="d">Job Description</p>
      </a>
    </div>

    <script src="/js/aplybutton.js"></script>