<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">CodeHire</li>
    </ul>
  </div>
  <nav class="top-bar-right">

    {{#if loggedIn}}
    <button id="logout">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}

  </nav>
</div>


<main>
  {{{ body }}}
</main>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}

</html>