<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
<link rel="stylesheet" href="./c.css">
</head>
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">CodeHire</li>
    </ul>
  </div>
  <nav class="top-bar-right">

    {{#if loggedIn}}
    <button id="logout">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}

  </nav>
</div>
<nav>
  <ul>
    <li><a href="#" class="profile">Profile</a></li>
    <li><a href="#" class="all-jobs">All Jobs</a></li>
  </ul>
</nav>

<main>
  {{{ body }}}
</main>
{{#if loggedIn}}
<script src="/js/logout.js"></script>
{{/if}}
<footer>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <p>@2023 CODEHIRE</p>
        </div>
        <div class="col-4">
          <p>Creators: Sam.Lerner Connor.Bottone Justin.Yi Adam Aronson </p>
        </div>
        <div class="col-4">
          <p><a href="#">Contact Us</a></p>
        </div>
      </div>
    </div>
  </footer>
</html>