<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/public/css/jass.css">
</head>
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text">CodeHire</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
        {{#if logged_in}}
      <li><a href="#">Logout</a></li>
{{else }}
<li><a href="#">Login/Create Account</a></li>
<li>Profile</li>"</li>
{{/if}}   
    </ul>
  </div>
</div>

<div class="search-container">
  <form>
    <input type="text" placeholder="Job Title" name="job-title">
    <input type="text" placeholder="Location" name="location">
    <button type="submit">Search</button>
  </form>
  {{{ body }}}
</div>
</html>