 <link rel="stylesheet" href="/css/review.css">
 <div class="review-container">
    <h1>Company Name</h1>
    <div class="review-header">
      /
      <img src="/img/placeholder.jpg" alt="Company Image">
    </div>
</div>
    
    <div class="carda">
    
        <div class="card-bodya">
          
          <h2>Contact Information:</h2>
          <ul>
            <li>{{jobs.user.username}}</li>
            <li>Phone: 555-555-5555</li>
            <li>{{jobs.user.email}}</li>
          </ul>
          
          </div>
        </div>
      </div>
    <div class="cards-containerj">
       {{#each jobs.comments }}
        <div class="cardj">
      
          <p>{{comment}}</p>
         
        </div>
        {{/each}}
       
      </div> 
    </div>
  </body>
  <div class="review-card">
    <h2>WRITE REVIEW</h2>
    <form class="new-comment" id="new-comment">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      
      <div class="form-group">
        <label id="review" for="review">Review:</label>
          
        <input id="review" name="review" rows="4" required></input>
      <button id="btnS" type="button">Submit</button>
    </div>
    </form>
</div>

<script src="/js/submitcomment.js"></script>