  <link rel="stylesheet" href="/css/cseacrhed.css">
{{#if results.length}}
<section>
  <h2>Your results:</h2>
{{#each results as |job|}}
{{>jobpost job}}
  {{/each}}
  {{else}}
  <h3>Your search returned no results. Please try again!</h3>
  </section>
{{/if}}




 {{!-- {{#each (slice Job 0 8)}}
    

 <div class="cards-containerj">
      <div class="cardj">
        <h2>{{results.title}}</h2>
        <p>{{User.username}}</p>
        <p>{{results.location}}</p>
        <p class="d">Job Description
        <a href="#" class="apply-button">Apply</a></p>
      </div>
      {{/each}}
       --}}
      {{!-- <div class="cardj">
        <h2>Job Title</h2>
        <p>Company Name</p>
        <p>Location</p>
        <p class="d">Job Description
        <a href="#" class="apply-button">Apply</a></p>
      </div>
      <div class="cardj">
        <h2>Job Title</h2>
        <p>Company Name</p>
        <p>Location</p>
        <p class="d">Job Description
        <a href="#" class="apply-button">Apply</a></p>
      </div>
      <div class="cardj">
        <h2>Job Title</h2>
        <p>Company Name</p>
        <p>Location</p>
        <p class="d">Job Description
        <a href="#" class="apply-button">Apply</a></p>
      </div>
    </div> 
  </div> --}}