{{#each (slice array 0 3)}}
    

<link rel="stylesheet" href="./c.css">
<div>
    <div>
        <h2>Job Listings</h2>
        {{#each jobs as |job|}}
        <div class="cards-containerj">
            <div class="cardj">
                <h2>{{job.title}}</h2>
                <p>{{job.location}}</p>
                <p>{{job.salary_range}}</p>
            </div>
        </div>
        {{/each}}

    </div>
</div>