<header>
    <label class="label-description" for="Name">Name:</label>
    <input class="input-field" type="text" id="info-input" name="Name" placeholder=""></br>
    <label class="label-description" for="Address1">Address1:</label>
    <input class="input-field" type="text" id="info-input" name="Address1" placeholder=""></br>
    <label class="label-description" for="Address2">Address2:</label>
    <input class="input-field" type="text" id="info-input" name="Address2" placeholder=""></br>
    <label class="label-description" for="Email">Email:</label>
    <input class="input-field" type="text" id="info-input" name="Email" placeholder=""></br>
    <label class="label-description" for="Phone Number">Phone Number:</label>
    <input class="input-field" type="text" id="info-input" name="Phone Number" placeholder=""></br>
    <label class="label-description" for="Linkdin">Linkdin:</label>
    <input class="input-field" type="text" id="info-input" name="Linkdin" placeholder=""></br>
    <label class="label-description" for="Github">Github:</label>
    <input class="input-field" type="text" id="info-input" name="Github" placeholder=""></br>
</header>

<main>
    <label class="resume-description" for="Work History">Work History:</label>
    <textarea></textarea>

    <label class="education-description" for="Education">Education:</label>
    <textarea></textarea>
    <button>Submit</button>
</main>