<div>
    <nav>
        <ul>
            <a href="/"><li>Home</li></a>
        </ul>
    </nav>
    <h2>Hello, {{user.username}}</h2>
    <a href="#"><p>edit profile</p></a>
    <br>
    <h4>Email Address :</h4>
    <p>{{user.email}}</p>
    <br>
    <h4>Github:</h4>
    <p>{{user.github_link}}</p>
    
</div>